
{% extends 'layout.html' %}
{% block content %}
<body class=" w3-cell-row">
    <div style="width:30%" class = "w3-display-container w3-cell ">
        <div class = "w3-margin">
        </div>
    </div>
    <div class = "w3-display-container w3-cell w3-cell-top " style= "width:1000px ">
        <div class = " w3-cell-row w3-margin">
            <h1>About</h1>
            
            <h4>This website is an online video sorter where users can save their favourite contents from youtube and share them on a more private platform.</h4>
            {%if error%}
            <p class="error"><strong>Error:</strong> {{ error }}</p>
            {% endif %}
        </div>
    </div>

</body>
{% endblock %}