<h1>Dashboarrd</h1>
{% extends 'layout.html' %}
{% block content %}
<body>
    <div class = "w3-sidebar">
        <h3>literal sidebar</h3>
    </div>
    <div>
        <div style="margin-left:25%" >
            {% for url in urls %}
                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ url[0] }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            {% endfor %}
        </div>
    </div>
</body>
{% endblock %}