{% extends 'layout.html' %}
{% block content %}
<h1>Dashboarrd</h1>
<body>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/-VSGCs-FfUQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/wOAD4gI_xJo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </body>
{% endblock %}